@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

.full-height {
  height: 100%;
}

#app {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html, body {
  background-color: #2a2a2a;
  height: 100%;
  overflow: hidden;
}
